* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  width: 100%;
  height: 88px;
  border-bottom: 2px solid #dbdee9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-logo img {
  width: 200px;
  height: 70px;
  margin-right: 30px;
  margin-top: 4px;
}
.nav-search-1 {
  display: flex;
  width: 610px;
  height: 49px;
  margin-top: 19px;
  margin-right: 7px;
}
.nav-search div,
input {
  background-color: #f7f7f7;
}

.search-input {
  width: 560px;
  height: 47px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-icon {
  height: 47px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f7f7f7;
  padding: 15px;
}

.nav-options {
  width: 290px;
  height: 100%;
  display: flex;
  padding-left: 100px;
  padding-top: 20px;
}

.login {
  width: 106px;
  height: 42px;
  font-size: 15px;
  font-weight: 550;
  background-color: #00b5b7;
  color: white;
  border: #00b5b7;
  border-radius: 4px;
}
.login:hover {
  cursor: pointer;
}

.nav-options i {
  font-size: 28px;
  padding-left: 50px;
  padding-top: 10px;
}
.cart-svg {
  margin-left: 30px;
  margin-top: 10px;
}

.navbar-2 {
  width: 100%;
  height: 70px;

  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.category {
  display: flex;
  width: 190px;
  height: 40px;

  gap: 10px;
  border-radius: 5px;
  color: #77777e;
  font-weight: 550;
  background-color: #ffffff;
  border: 2px solid #ece6e6;
  justify-content: center;
  align-items: center;
}
.category-logo {
  color: #00b5b7;
}

.navbar-2 .button {
  border: none;
}

.button {
  display: flex;

  background-color: white;
  gap: 5px;
  font-size: 14px;
  align-items: center;
}
.navbar-2 button:hover {
  color: #00b5b7;
  cursor: pointer;
}
.button i {
  color: #77777e;
}

.banner {
  width: 100%;
  height: 49px;
  background-color: #effbfc;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  font-weight: 550;
}

.image-panel {
  width: 100%;
  height: 360px;
  overflow: hidden;
  position: relative;
  border-bottom: 15px solid #f4f4f4;
}

.image-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.image-container:hover {
  cursor: pointer;
}

.section {
  width: 100%;
  height: 595px;
  padding-top: 20px;
  border-bottom: 15px solid #f4f4f4;
}
.section-label {
  font-size: 25px;
  font-weight: 550;
  padding-right: 55%;
  padding-left: 10%;
}
.product {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.view {
  font-weight: 500;
  color: #00b5b7;
}
.view:hover {
  cursor: pointer;
}

.section-label,
.view {
  display: inline-block;
}

.product-image-cont {
  border: 2px solid #f4f4f4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}
.product-image {
  width: 215px;
}

.box-size {
  width: 285px;
  height: 465px;
  display: block;
}
.about-item {
  width: 285px;
  height: 250px;
  border: 3px solid #f4f4f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-info {
  width: 285px;
  padding-top: 18px;
  padding-left: 10px;
  display: flex;
}

.rating {
  border: 1px solid #00b5b7;
  width: 55px;
  height: 25px;
  padding-left: 8px;
  background-color: #00b5b7;
  color: white;
  border-radius: 4px;
}

.review {
  font-size: 15px;
  margin-right: 70px;
  padding-left: 8px;
  padding-top: 5px;
  width: 100px;
  height: 28px;
}

.product-info img {
  width: 25px;
  height: 25px;
}
.product-title {
  padding-top: 10px;
  padding-left: 8px;
  font-size: 15px;
}
.product-price {
  padding: 10px 8px;
}
.product-price span {
  color: green;
  font-size: 15px;
  font-weight: 500;
  padding-left: 30px;
}
.product-offer {
  width: 230px;
  height: 30px;
  border: 1px #f4f4f4;
  margin-left: 9%;
  background-color: #f4f4f4;
  border-radius: 4px;
  font-size: 15px;
  margin-bottom: 10px;
}
.cart {
  margin-top: 25%;
  margin-left: 8px;
  width: 260px;
  height: 40px;
  padding: 9px 45px;
  border: 2px solid rgba(253, 203, 112, 0.169);
  color: orange;
  background-color: rgba(253, 203, 112, 0.169);
  border-radius: 5px;
}
.box-size:hover {
  cursor: pointer;
}
.box-size:hover .cart {
  background-color: orange;
  color: white;
}

.template-section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-bottom: 15px solid #f4f4f4;
}
.template-section img {
  width: 285px;
  height: 400px;
  border-radius: 10px;
}
.template-section img:hover {
  cursor: pointer;
}

.brand-template {
  width: 100%;
  height: 250px;
  padding-top: 20px;
  border-bottom: 15px solid #f4f4f4;
}
.brand-template h1 {
  padding-left: 10%;
  font-weight: 500;
}
.brand-logo {
  padding-left: 15%;
}
.brand-logo img {
  padding-right: 15px;
}
.brand-logo img:hover {
  cursor: pointer;
}

.why-hkt {
  width: 100%;
  height: 310px;
  padding-top: 20px;
  border-bottom: 15px solid #f4f4f4;
}
.why-hkt h1 {
  width: max-content;
  height: 50px;
  padding-left: 10%;
}
.why-hkt-1 {
  width: 375px;
  height: 190px;
  padding-top: 20px;
}
.why-hkt-1 h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;
}
.why-hkt-1 span {
  color: rgb(143, 137, 137);
}
.hkt-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 650px;
  background-color: #0d2122;
}

.footer-logo img {
  width: 238px;
  height: 80px;
  margin-right: 30px;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.list {
  width: 170px;
  height: 300px;
  color: white;
  font-weight: 100;
  font-size: small;
}
.list h3 {
  font-size: medium;
  font-weight: 400;
}

.subscribe-plate {
  width: 295px;
  height: 370px;
  background-color: white;
  border-radius: 8px;
  padding-left: 15px;
  margin-left: 10px;
}
.list ul {
  list-style: none;
}

.subscribe-plate h2 {
  padding: 10px 20px;
  width: 100%;
}
.subscribe-plate div {
  font-size: 14px;
}

.search-input-2 {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid rgb(143, 137, 137);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 10px;
}
.arrow-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 40px;
  height: 40px;
  background-color: #00b5b7;
}
.search-section {
  display: flex;
}
.sub-image img {
  margin-top: 15px;
  height: 65px;
  width: 75px;
}
.follow-logo {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.follow-logo i {
  font-size: 20px;
}
.stores {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list h3 {
  margin-bottom: 10px;
}
.list ul li {
  margin-bottom: 8px;
  font-weight: 400;
  color: rgb(192, 183, 183);
}
.list ul li:hover {
  cursor: pointer;
  color: #466263;
}
.sub-image img,
.follow-logo,
.stores:hover {
  cursor: pointer;
}

.pay-method {
  padding-left: 11%;
  margin-bottom: 15px;
}

.copywright {
  padding-top: 20px;
  margin-left: 10%;
  border-top: 1px solid white;
  width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: medium;
}

.copy-conditions:hover {
  cursor: pointer;
}
